<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>WebServer</title>
    </head>
    <body>
    <br/>
    <br/>
    <div align="center"><font size="5"> <strong>是时候做出选择了</strong></font></div>
	<br/>
		<br/>
		<form action="Meau/pic" method="post">
 			<div align="center"><button type="submit">显示图片</button></div>
                </form>
		<br/>
                <form action="Meau/video" method="post">
                        <div align="center"><button type="submit" >显示视频</button></div>
                </form>
		<br/>
		<form action="Meau/secret" method="post">
 			<div align="center"><button type="submit">绝密档案</button></div>
                </form>
		
        </div>
        <script  type="text/javascript" src="Meau/GetMsg"></script>
    </body>
</html>
